USE [master]
GO
/****** Object:  Database [company_1]    Script Date: 9/27/2025 12:49:53 AM ******/
CREATE DATABASE [company_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'company_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\company_1.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'company_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\company_1_log.ldf' , SIZE = 3520KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [company_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [company_1]
GO
/****** Object:  User [ahmed]    Script Date: 9/27/2025 12:49:53 AM ******/
CREATE USER [ahmed] FOR LOGIN [ahmed] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 9/27/2025 12:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Number] [int] NOT NULL,
	[Name] [varchar](50) NULL,
	[Startdate] [date] NULL,
	[MGRssn] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dependent]    Script Date: 9/27/2025 12:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dependent](
	[ESSN] [int] NOT NULL,
	[depName] [varchar](50) NOT NULL,
	[sex] [varchar](50) NULL,
	[BrithDate] [date] NULL,
	[Relationship] [varchar](50) NULL,
 CONSTRAINT [dep_pk] PRIMARY KEY CLUSTERED 
(
	[ESSN] ASC,
	[depName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deplocations]    Script Date: 9/27/2025 12:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deplocations](
	[dep_location] [varchar](50) NOT NULL,
	[dep_number] [int] NOT NULL,
 CONSTRAINT [composit_key] PRIMARY KEY CLUSTERED 
(
	[dep_number] ASC,
	[dep_location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 9/27/2025 12:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ssn] [int] NOT NULL,
	[Fname] [varchar](50) NULL,
	[Lname] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[salary] [int] NULL,
	[DepNum] [int] NULL,
	[hire_date] [date] NULL,
	[super] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project]    Script Date: 9/27/2025 12:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[pnumber] [int] NOT NULL,
	[pname] [varchar](50) NULL,
	[plocation] [varchar](50) NULL,
	[Dnumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[truncate1]    Script Date: 9/27/2025 12:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[truncate1](
	[ssn] [int] NOT NULL,
	[Fname] [varchar](50) NULL,
	[Lname] [varchar](50) NULL,
	[sex] [varchar](50) NULL,
	[address] [varchar](50) NULL,
	[salary] [int] NULL,
	[DepNum] [int] NULL,
	[hire_date] [date] NULL,
	[super] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[works]    Script Date: 9/27/2025 12:49:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[works](
	[ESSN] [int] NOT NULL,
	[Pnum] [int] NOT NULL,
	[Hours] [int] NULL,
 CONSTRAINT [work_pk] PRIMARY KEY CLUSTERED 
(
	[ESSN] ASC,
	[Pnum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [start_date]  DEFAULT (getdate()) FOR [Startdate]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT (getdate()) FOR [hire_date]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([MGRssn])
REFERENCES [dbo].[Employee] ([ssn])
GO
ALTER TABLE [dbo].[dependent]  WITH CHECK ADD  CONSTRAINT [FK__dependent__ESSN__32E0915F] FOREIGN KEY([ESSN])
REFERENCES [dbo].[Employee] ([ssn])
GO
ALTER TABLE [dbo].[dependent] CHECK CONSTRAINT [FK__dependent__ESSN__32E0915F]
GO
ALTER TABLE [dbo].[deplocations]  WITH CHECK ADD  CONSTRAINT [loc_fk] FOREIGN KEY([dep_number])
REFERENCES [dbo].[Department] ([Number])
GO
ALTER TABLE [dbo].[deplocations] CHECK CONSTRAINT [loc_fk]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [D_num_FK] FOREIGN KEY([DepNum])
REFERENCES [dbo].[Department] ([Number])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [D_num_FK]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [emp_fk] FOREIGN KEY([super])
REFERENCES [dbo].[Employee] ([ssn])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [emp_fk]
GO
ALTER TABLE [dbo].[project]  WITH CHECK ADD FOREIGN KEY([Dnumber])
REFERENCES [dbo].[Department] ([Number])
GO
ALTER TABLE [dbo].[works]  WITH CHECK ADD  CONSTRAINT [FK__works__ESSN__300424B4] FOREIGN KEY([ESSN])
REFERENCES [dbo].[Employee] ([ssn])
GO
ALTER TABLE [dbo].[works] CHECK CONSTRAINT [FK__works__ESSN__300424B4]
GO
ALTER TABLE [dbo].[works]  WITH CHECK ADD  CONSTRAINT [FK__works__Pnum__30F848ED] FOREIGN KEY([Pnum])
REFERENCES [dbo].[project] ([pnumber])
GO
ALTER TABLE [dbo].[works] CHECK CONSTRAINT [FK__works__Pnum__30F848ED]
GO
USE [master]
GO
